MYSQL_DATABASE=reservation_salles
MYSQL_USER=fatou_app
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me-too

APP_ENV=production
APP_DEBUG=false
DB_DRIVER=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=reservation_salles
DB_USERNAME=fatou_app
DB_PASSWORD=change-me
